/ {
	zephyr,user {
		dac = <&dac1>;
		dac-channel-id = <1>;
		dac-resolution = <12>;
	};
};

&dac1 {
		status = "okay";
		pinctrl-0 = <&dac_out1_pa4>;
		pinctrl-names = "default";
};


//dma1: dma@40026000 {
//compatible = "st,stm32-dma-v1";
&dma1 {
		status = "okay";

};

&timers2 {
		status = "okay";
		counter {
			status = "okay";
		};

};
